.site-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  display: block;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  min-width: 126px;
  min-height: 28px;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
}

.site-header__features {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-header__tel-link {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: #00094a;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.site-header__tel-link:hover {
  opacity: 0.8;
}

.site-header__tel-link:active {
  opacity: 0.6;
}

.site-header__phonecall {
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
}

.site-header__night-mode::after {
  content: '';
  min-height: 22px;
  min-width: 1px;
  background-color: #00094a;
  background-repeat: no-repeat;
  margin-left: 32px;
}

/* Night Mode: */
.site-header_night-mode {
  border: none;
  background-color: transparent;
}

.site-header_sun-mode {
  min-width: 24px;
  min-height: 24px;
}

/* Select Language: */
.site-header__select-lang {
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #00094a;
  background-color: transparent;
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}

/* Form Button: */
.site-header__form-button {
  display: block;
  padding: 15px 30px;
  margin-left: 35px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00094a;
  border-radius: 3px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.site-header__form-button:hover {
  opacity: 0.8;
}

.site-header__form-button:active {
  opacity: 0.6;
}

/* Hamburger Menu */
.site-header__hamburger {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 0;
  margin-left: 35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #00094a;
  cursor: pointer;
}

.site-header__hamburger-img {
  margin-left: 10px;
}

/* Sitenav */
.sitenav {
  display: none;
}
